In [1]:
import pandas as pd

## What is Pandas

Pandas is a newer package built on top of NumPy, and provides an efficient implementation of a DataFrame. 
DataFrames are essentially multidimensional arrays with attached row and column labels, and often with heterogeneous types and/or missing data.

### Pandas Series

Indexed data, created from a list or array

In [2]:
data = pd.Series(range(4,45,6))
print(data)

0     4
1    10
2    16
3    22
4    28
5    34
6    40
dtype: int64

In [3]:
data.index = range(2,9)
data

2     4
3    10
4    16
5    22
6    28
7    34
8    40
dtype: int64

In [4]:
data.index = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
data

a     4
b    10
c    16
d    22
e    28
f    34
g    40
dtype: int64

In [5]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

## Dataframe

### Create a dataframe

In [34]:
# Creating dataframe from dictionary
area = pd.Series({'California': 423967, 'Texas': 695662,
                  'New York': 141297, 'Florida': 170312,
                  'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
                 'New York': 19651127, 'Florida': 19552860,
                 'Illinois': 12882135})
data = pd.DataFrame({'area':area, 'pop':pop})
data

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

In [ ]:
# Create dataframe from list
lst = ['one', 'two', 'three', 'four', 'five', 'six', 'seven']  
lst2 = [11, 22, 33, 44, 55, 66, 77] 

df = pd.DataFrame(list(zip(lst, lst2)), columns =['Name', 'val']) 
df

### Import a database

In [13]:
ds = pd.read_csv('books.csv')

ParserError: Error tokenizing data. C error: Expected 10 fields in line 4012, saw 11

In [11]:
ds = pd.read_csv('books.csv', delimiter=',', nrows = 1000)  # pd.read_excel ('your_excel_file')

In [14]:
ds.head()

,bookID,title,authors,average_rating,isbn,isbn13,language_code,# num_pages,ratings_count,text_reviews_count
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling-Mary GrandPré,4.56,0439785960,9780439785969,eng,652,1944099,26249
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling-Mary GrandPré,4.49,0439358078,9780439358071,eng,870,1996446,27613
2,3,Harry Potter and the Sorcerer's Stone (Harry P...,J.K. Rowling-Mary GrandPré,4.47,0439554934,9780439554930,eng,320,5629932,70390
3,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.41,0439554896,9780439554893,eng,352,6267,272
4,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling-Mary GrandPré,4.55,043965548X,9780439655484,eng,435,2149872,33964

In [15]:
ds.columns

Index(['bookID', 'title', 'authors', 'average_rating', 'isbn', 'isbn13',
       'language_code', '# num_pages', 'ratings_count', 'text_reviews_count'],
      dtype='object')

In [17]:
ds['title']

0      Harry Potter and the Half-Blood Prince (Harry ...
1      Harry Potter and the Order of the Phoenix (Har...
2      Harry Potter and the Sorcerer's Stone (Harry P...
3      Harry Potter and the Chamber of Secrets (Harry...
4      Harry Potter and the Prisoner of Azkaban (Harr...
5      Harry Potter Boxed Set  Books 1-5 (Harry Potte...
6      Unauthorized Harry Potter Book Seven News: "Ha...
7           Harry Potter Collection (Harry Potter  #1-6)
8      The Ultimate Hitchhiker's Guide: Five Complete...
9          The Ultimate Hitchhiker's Guide to the Galaxy
10     The Hitchhiker's Guide to the Galaxy (Hitchhik...
11     The Hitchhiker's Guide to the Galaxy (Hitchhik...
12     The Ultimate Hitchhiker's Guide (Hitchhiker's ...
13                  A Short History of Nearly Everything
14                           Bill Bryson's African Diary
15     Bryson's Dictionary of Troublesome Words: A Wr...
16                                In a Sunburned Country
17     I'm a Stranger Here Myself: Notes on Returning...
18     The Lost Continent: Travels in Small Town America
19             Neither Here nor There: Travels in Europe
20                             Notes from a Small Island
21     The Mother Tongue: English and How It Got That...
22     J.R.R. Tolkien 4-Book Boxed Set: The Hobbit an...
23     The Lord of the Rings (The Lord of the Rings  ...
24     The Lord of the Rings (The Lord of the Rings  ...
25     The Fellowship of the Ring (The Lord of the Ri...
26     The Lord of the Rings (The Lord of the Rings  ...
27            The Lord of the Rings: Weapons and Warfare
28      The Lord of the Rings: Complete Visual Companion
29                         The Lord of the Rings Box Set
                             ...
970                            Girl with a Pearl Earring
971                            Girl with a Pearl Earring
972                            Girl With a Pearl Earring
973                                     The Golden Tulip
974                                       Burning Bright
975                                       Falling Angels
976                                      The Virgin Blue
977                             The Lady and the Unicorn
978                                    Wenn Engel fallen
979         Tom Hunter: Living in Hell and Other Stories
980                                    Bleach  Volume 15
981                                    Bleach  Volume 01
982                                    Bleach  Volume 14
983                                    Bleach  Volume 11
984                                    Bleach  Volume 12
985    デスノート 1: (退屈) [Desu Nōto: Taikutsu]  (Death No...
986              Death Note  Vol. 4: 恋心 (Death Note  #4)
987              Death Note  Vol. 3: 激走 (Death Note  #3)
988                                      The Love Artist
989                Love Artist (Harlequin Romance #2860)
990                     Perfume: The Story of a Murderer
991             Das Parfum: Die Geschichte eines Mörders
992                       Three Stories and a Reflection
993                                           The Pigeon
994                               The Story of Mr Sommer
995              Bleach―ブリーチ― 1 [Burīchi 1] (Bleach  #1)
996         Bleach  Tome 1: The Death and the Strawberry
997                                   The Worm Ouroboros
998    Escape from Fire Mountain (World of Adventure ...
999                      How Angel Peterson Got His Name
Name: title, Length: 1000, dtype: object

### Rename columns

In [27]:
cols = list(ds.columns)
print("These are the previous columns: ", cols)

cols[2] = 'writers'
ds.columns = cols
print("These are the columns now: ", list(ds.columns))

These are the previous columns:  ['bookID', 'title', 'writers', 'average_rating', 'isbn', 'isbn13', 'language_code', '# num_pages', 'ratings_count', 'text_reviews_count']
These are the columns now:  ['bookID', 'title', 'writers', 'average_rating', 'isbn', 'isbn13', 'language_code', '# num_pages', 'ratings_count', 'text_reviews_count']

### Getting some quantifiable info

In [28]:
ds.describe()

,bookID,average_rating,isbn13,# num_pages,ratings_count,text_reviews_count
count,1000.000000,1000.000000,1.000000e+03,1000.000000,1.000000e+03,1000.000000
mean,1421.079000,3.940980,9.762143e+12,367.865000,4.847669e+04,1113.084000
std,880.934502,0.346679,4.188720e+11,282.998624,2.668831e+05,4377.365644
min,1.000000,0.000000,4.908601e+10,0.000000,0.000000e+00,0.000000
25%,636.500000,3.770000,9.780312e+12,200.000000,7.600000e+01,7.000000
50%,1462.500000,3.950000,9.780553e+12,304.000000,7.955000e+02,54.500000
75%,2151.250000,4.120000,9.780817e+12,455.250000,6.348750e+03,289.250000
max,2917.000000,5.000000,9.789953e+12,3342.000000,5.629932e+06,70390.000000

In [ ]:
ds['ratings_count'].mean()

In [ ]:
ds['ratings_count'].median()

In [30]:
ds['ratings_count'].max()

795.5

In [32]:
ds['ratings_count'].min()

0

### Indexing

In [21]:
ds.iloc[3]

bookID                                                                4
title                 Harry Potter and the Chamber of Secrets (Harry...
authors                                                    J.K. Rowling
average_rating                                                     4.41
isbn                                                         0439554896
isbn13                                                    9780439554893
language_code                                                       eng
# num_pages                                                         352
ratings_count                                                      6267
text_reviews_count                                                  272
Name: 3, dtype: object